body{
    background-color: #fff; 
}
#head{
    padding: 0px;
}
#header{
    padding-left: 90px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #F1948A;
    
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 43px;
    color: #ffffff;
    padding-left: 80px;
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-left: 80px;
    margin-right: 5px; 
    
} 

#menu {
    padding: 0px;

} 
.bg-light {

    background-color: #F1948A  !important;
    padding-left: 10px;
    padding-top: 45px;
    padding-bottom: 20px ;
    padding-right: 50px;

}
.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #ffffff !important;
    padding: 15px 20px !important; 

}

.nav-link:hover {
    background-color: #C0C0C0 !important;
    border-radius: 10px;
}
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-size: 20px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #F1948A;
  margin: 0;
}
.subnav-content {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: white;
  display: none;
  position: absolute;
  left: 30px;
  line-height: 2;
  background-color: #F1948A;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  padding: 15px;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #C0C0C0;
  color: black;
  border-radius: 10px;
}
.subnav:hover .subnav-content {
  display: block;
}

#flower-container{
  padding:0px;

}
#girlflower-container{
  margin:0 auto;
}
#first-flower-container{
  margin: 0 auto;
  
}
#flower-box{
  padding:0px;

}
.carousel-inner img{
  width: 100%;
  height: 100%;

}

.carousel-item{
  position: relative;
  
  border: 1px solid #FFFFFF;
  
  overflow: hidden;
  width: 800px;
}
.carousel-item2 img {
  max-width: 100%;
  margin-bottom: 28px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}
.column{
  float: left;
  width: 43.33%;s
}
#rose-container{
  padding: 0px;
  margin-top: 20px;
}
#rose-box{
  margin-top: 5px;
}
#roseflower-container{
  padding: 0px;
}
#rosegirl-container{
  padding-left:-3px;
  margin-top: 20px;
}
.carousel-inner2 img{
  width: 100%;
  height: 100%;

}
.carousel-item3 img {
  max-width: 100%;
  margin-bottom: 28px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
   
}
#wedding-container{
  padding:0px;
  margin: 0 auto;
}
#wedding-flower-container{
  padding: 0px;
}
#bride-flower-container{
  padding:0px;
}
.carousel-inner3 img{
  width: 100%;
  height: 100%;

}
.carousel-item4 img {
  max-width: 100%;
  margin-bottom: 28px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
   
}
#birthday-container{
  padding: 0px;
  margin: 0 auto;
}
#birthdayflower-container{
  padding: 0px;
}
#birthday-box{
  padding: 0px;
}
#birthdaygirl-container{
  padding: 0px;
}
#message-container{
  padding: 0px;
}
#messenger{
  margin-left: 130px;
  padding-left: 185px;
  padding-top: 30px;


}
#news{
  font-size: 41px;
  padding-top: 30px;
  margin-right: 50px;
  margin-top: 30px;
}

.mail{
  padding-top: 15px;
  width: 390px;
}
.mail-box{
  border: 2px solid black;
  padding: 5px;
  text-align: left;
}
.far{
  padding-left: 190px;
}
.navbar2 {
  width: 100%;
  height: 60px;
  background-color: #C0C0C0;
  overflow: auto;
  padding-top: 20px;


}

/* Navbar links */
.navbar2 a {
  margin-left: 100px;
  text-align: center;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
/*.navbar2 a:hover {
  background-color: #000;
}*/

/* Current/active navbar link */
.site-bottom {
    background-color: #F1948A  !important;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 5px;
    line-height: 1;
    color: #ffffff;
    display: block;
}
.container{
  flex-flow: column wrap;
  justify-content: center;
}
.sidebar-footer {
    flex-pack: justify;
    justify-content: space-between;
    color: var(--white-color);
    padding: 8rem 0 2rem;
}
.widget {
    margin-bottom: 4rem;
   
    box-sizing: border-box;
    display: block;
}
.widget-title {
    color: var(--white-color);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.module-title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
}
h4 {
    line-height: 2rem;
    letter-spacing: 0;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
.social-name:hover{
  color:#DF6C57  ;
}
