@media only screen and (max-width: 480px) {
    #head{
		height: 100%;
    }
    #header{
    	height: 90px;
    }
    h1{
    	font-size: 30px;
		
		padding-left: 25px; 
		margin-left: 2px;
		margin-top: 15px;
    }
	
	#slider-container{
		height: 100%;
	}
	.top-text{
		position: absolute;
		font-size: 15px;
		text-align: center;
		top: 1%;
		height: 1%;
		
	}
	.top-text1{
		position: absolute;
		font-size: 10px;
		text-align: center;
		height: 1%;
		
	}
	
	.slide-hr{
		width: 20px;
	    margin: 1px 5px 5px 5px;
	}
	.slide-hr1{
		width: 20px;
	    margin: 2px 5px 5px 5px;
	}

	.title{
		position: absolute;
		font-size: 8px;
		text-align: center;
		padding: 0 0 0 0;
		
	}
	.title1{
		position: absolute;
		font-size: 8px;
		text-align: center;
		padding: 0 0 0 0;
		
	}
	.text{
		position: absolute;
		font-size: 6px;
		text-align: left;
		padding: 8px 0px 3px 0px;
		
	}
	.text1{
		position: absolute;
		font-size: 4px;
		text-align: left;
		padding: 8px 0px 3px 0px;
		
	}

    #homemenu{
		height: 100%;}
	#menu-box{
		height: 100%;
	}
	#shop-container{
		height: 50%;
	}
	#girl-menu{
		height: 100%;
	}
	#girlmenu-box{
		height: 100%;
	}
	#msg-container{
		height: 100%;
	}
	#navbar-2{
		height: 100%;
	}
	#site-bottom{
		height: 100%;
	}
		
	
	
    .carousel-caption,.carousel-caption1{
			width: 45%;
			height: 50%;
			
	}
	#msg-container{
		width: 100%;
	}
	#message{
		
		padding-left: 1px;
	}
	#newscol{
		margin-left: 90px;
		width: 100%;
		font-size: 41px;
		
	}
	hr{
		width: 400px;
	}
	.wrapper{
		text-align: center;
	}	
	.navbar2 a {
    float: none;
    display: block;
  }
  }
}
@media (max-width: 577px) and (max-width: 768px){
	#head {
		width: 100%;
	}
	#header{
		width: 100%;
	}
    #menu {
		width: 100%;
		
	}
	
	.carousel-caption,.carousel-caption1{
			width: 45%;
			height: 50%;
			
	}

	#msg-container{
		width: 100%;
	}
	#message{
		
		padding-left: 1px;
	}
	#newscol{
		margin-left: 90px;
		width: 100%;
		font-size: 41px;
		
	}	
	hr{
		width: 400px;
	}
	.wrapper{
		text-align: center;
	}
  }


@media (min-width: 769px) and (max-width: 992px) {
	#head{
		width: 100%;
	}
	#header{
		width: 100%;
	}
    #menu {
		width: 100%;
		
	}
	
	.carousel-caption,.carousel-caption1{
			width: 45%;
			height: 50%;
			
	}
	
	#msg-container{
		width: 100%;
	}
	#message{
		
		padding-left: 1px;
	}
	#newscol{
		margin-left: 90px;
		width: 100%;
		font-size: 41px;
		
	}
	hr{
		width: 400px;
	}
	.wrapper{
		text-align: center;
	}
	
}

@media (min-width: 993px) and (max-width: 1200px) {
	#head{
		width: 1200px;
	}
	#header{
		width: 1050px;
	}
    #menu {
		width: 1050px;
		
	}

	.carousel-caption,.carousel-caption1{
		width: 45%;
		height: 50%;
		
	}
	
	#msg-container{
		width: 100%;
	}
	#message{
	
		padding-left: 1px;
	}
	#newscol{
		margin-left: 90px;
		width: 100%;
		font-size: 41px;
		
	}
	hr{
		width: 400px;
	}
	.wrapper{
		text-align: center;
	}
	
}
@media (min-width: 1201px){
	
	.wrapper{
		width: 960px;
		height: 620px;
		margin: 0 auto;
	}
	.container{
		padding: 0px;
	}
	
}



